In [1]:
from pandas_datareader import data, wb
import pandas as pd
import numpy as np
import datetime
%matplotlib inline

C:\Users\YizhiZhang\anaconda3\lib\site-packages\pandas_datareader\compat\__init__.py:7: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  from pandas.util.testing import assert_frame_equal

In [2]:
start = datetime.datetime(2019,1,1)
end = datetime.datetime(2020,1,1)

In [16]:
tickers = 'GOOGL AAPL FB TWTR MSFT'.split()

In [15]:
GOOGL = data.DataReader('GOOGL', 'yahoo', start, end)

AAPL = data.DataReader('AAPL', 'yahoo', start, end)

FB = data.DataReader('FB', 'yahoo', start, end)

TWTR = data.DataReader('TWTR', 'yahoo', start, end)

MSFT = data.DataReader('MSFT', 'yahoo', start, end)

In [21]:
df = pd.concat([GOOGL, AAPL, FB, TWTR, MSFT], axis=1, keys=tickers)
df.columns.names = ['Stock Ticker', 'Stock Info']

In [22]:
df.head()

Stock Ticker        GOOGL                                                  \
Stock Info           High          Low         Open        Close   Volume
Date
2019-01-02    1060.790039  1025.280029  1027.199951  1054.680054  1593400
2019-01-03    1066.260010  1022.369995  1050.670044  1025.469971  2098000
2019-01-04    1080.000000  1036.859985  1042.560059  1078.069946  2301100
2019-01-07    1082.699951  1062.640015  1080.969971  1075.920044  2372300
2019-01-08    1093.349976  1068.349976  1086.000000  1085.369995  1770700

Stock Ticker                     AAPL                                      \
Stock Info      Adj Close        High         Low        Open       Close
Date
2019-01-02    1054.680054  158.850006  154.229996  154.889999  157.919998
2019-01-03    1025.469971  145.720001  142.000000  143.979996  142.190002
2019-01-04    1078.069946  148.550003  143.800003  144.529999  148.259995
2019-01-07    1075.920044  148.830002  145.899994  148.699997  147.929993
2019-01-08    1085.369995  151.820007  148.520004  149.559998  150.750000

Stock Ticker  ...       TWTR                                        MSFT  \
Stock Info    ...       Open      Close    Volume  Adj Close        High
Date          ...
2019-01-02    ...  28.260000  28.809999  15053700  28.809999  101.750000
2019-01-03    ...  28.379999  27.990000  19051700  27.990000  100.190002
2019-01-04    ...  28.389999  29.950001  23412600  29.950001  102.510002
2019-01-07    ...  30.200001  31.340000  19917800  31.340000  103.269997
2019-01-08    ...  31.700001  31.799999  18915200  31.799999  103.970001

Stock Ticker
Stock Info           Low        Open       Close      Volume   Adj Close
Date
2019-01-02     98.940002   99.550003  101.120003  35329300.0   99.099190
2019-01-03     97.199997  100.099998   97.400002  42579100.0   95.453529
2019-01-04     98.930000   99.720001  101.930000  44060600.0   99.893005
2019-01-07    100.980003  101.639999  102.059998  35656100.0  100.020401
2019-01-08    101.709999  103.040001  102.800003  31514400.0  100.745613

[5 rows x 30 columns]